@import "../variables.scss";

.top-bar {
  background-color: $main-black;
  align-items: center;
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  > a {
    > .title {
      font-family: $font-title;
      font-size: 1.5rem;
      padding: 0 1rem;
      color: $white;
      font-weight: 600;
    }
  }
  .container-icons {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    .teste {
      width: 60px;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: rgba(244, 244, 244, 0.16);
        cursor: pointer;
        transition: 0.4s ease-in-out all;
      }
    }
  }
}
